<a href="/"><h1 style="margin-left: 50px; color: black;">Em's recipes</h1></a>
<h2 style="margin-left: 50px;">The recipes I've made</h2>
<div class="container">
    <div class="row text-center">
      <% cooked.forEach(function(recipe){ %>
        <div class="col-lg-4 col-sm-6">
            <img src="<%= recipe.image %>" class="img-fluid" alt="Responsive image" style="width: 400px;">
            <p class ="markerFont"><b><%=recipe.name %></b></p>
        </div>
          <%});%>
    </div>
</div>
